@charset "utf-8";


/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.cdnfonts.com/css/nasalization-2');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../img/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: transparent; /* Torna invisível o ponto central */
    border-radius: 50%;
    box-shadow: none; /* Será preenchido pelo JavaScript */
    animation: zoom 16s alternate infinite; 
}


@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

header {
    display: flex;
    font-family: 'Nasalization', sans-serif;
    align-items: center;
    justify-content: center; /* Isso centraliza o conteúdo no header */
    background-color: #453077;
    padding: 18px;
    position: relative; /* Para que o menu possa ser posicionado com position:absolute */
}

#cap-titulo {
    position: relative;
}

#cap-titulo h1 {
    font-size: 25px;
    color: white;
    text-align: center; /* Garante que o texto dentro do h1 seja centralizado */
    margin: 0; /* Remove qualquer margem extra */
}
/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
  
/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.story-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: -50px;
}

.astronauta-bubble {
    width: 400px;
    display: inline-block;
    margin-top: 300px;
}

/*Astronauta Image*/

.astronauta img {
    width: 280px;
}

/*Balão*/

.speech-bubble {
    display: inline-block;
    position: relative;
    background: #453077;
    border-radius: .4em;
    padding: 20px;
    color: white;
    top: -440px;
    left: 50px;
    min-height: 100px; /* Defina uma altura mínima */
    max-width: 350px; /* Define a largura máxima para o balão */
    word-wrap: break-word; /* Quebra a palavra se for muito longa */
    font-size: 20px;
}


.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #5500bd;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
}

.planet-view {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    margin: 0 auto;
}

.planet-box {
    width: 700px;
    height: 500px;
    background-position: center;
    background-size: cover; /* Garante que a imagem cubra a área da div */
    background-repeat: no-repeat; /* Não repetir a imagem */
    transition: background-image 0.5s ease; /* Suaviza a transição entre imagens */
}

.planet-box img {
    width: 700px;
}

.navegate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    width: 300px;
    color: white;
    font-family: 'Nasalization', sans-serif;
}

label:hover {
    color: #5500bd;
}

.triangle {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: 0.1s;
}

#triangle-left {
	border-right: 30px solid #5500bd;
}

#triangle-left:hover {
    border-right-color: rgb(247, 247, 247);
}

#triangle-right {
	border-left: 30px solid #5500bd;
}

#triangle-right:hover {
    border-left-color: rgb(247, 247, 247);
}

#next-chapter-button {
    width: 100px;
    color: white;
    font-family: 'Nasalization', sans-serif;
    background: none;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    transition: 0.2s;
}

#next-chapter-button:hover {
    background-color: rgb(15, 15, 15);
}

a {
    text-decoration: none;
}

#next-chapter-button a {
    color: white;
}